h3{
    font-size: xx-large;
    color: green;
}

p{
    background-color: aqua;
    border: 3px solid purple;
    hyphens: auto;
    letter-spacing: 5px;
    width: 100px;
    /* text-align: center; */
}